<div ng-controller="PassagemServicos::IndexCtrl as indexCtrl" ng-init="indexCtrl.init()">
	<section id="top-bar">
		<div id="top-bar-content">
			<div ng-include="indexCtrl.templates.passagem_servicos.top_bar_content"></div>
		</div>
	</section>

	<section id="breadcrumb">
		<a>Início</a> / Portaria / Passagem de Serviço
	</section>

	<section id="passagens">
		<div class="sc-p-t-xl sc-bg-white">
			<ul multi-check-group class="sc-accordion" sc-scroll="listCtrl.nextPage()">
				<li ng-if="indexCtrl.novaPassagemCtrl.newRecord" class="sc-acc-blue">
					<div class="sc-accordion-head flex-row" ng-click="indexCtrl.novaPassagemCtrl.cancelar()">
						<div class="fcol-xs-2em">
							<i class="sc-icon sc-icon-mais-1 sc-text-white"></i>
						</div>
						<span class="sc-text-white sc-text-bold">Nova Passagem</span>
					</div>
					<div class="sc-accordion-body">
						<div ng-include="indexCtrl.templates.passagem_servicos.form"></div>
					</div>
				</li>
				<li class="sc-accordion-head" style="border-bottom: 1px solid #e2e2e2; border-top: none;">
					<div class="flex-row flex-column align-items-center sc-text-blue" style="min-height: 2.5em;">
						<div class="fcol-order-0 align-center fcol-sm-3em">
							<input class="sc-checkbox sc-checkbox-blue" type="checkbox">
						</div>
						<div class="fcol-xs-7em hidden-xs align-center sc-p-sm">Status</div>
						<div class="fcol-xs-auto fcol-order-1 sc-p-sm">Saiu</div>
						<div class="fcol-xs-auto fcol-order-2 sc-p-sm">Entrou</div>
						<div class="fcol-xs-7em fcol-order-3 align-center sc-p-sm">Data</div>
						<div class="fcol-xs-7em sc-p-md visible-xs fcol-order-4"></div>
						<div class="fcol-xs-3em sc-p-md fcol-order-5"></div>
					</div>
				</li>
				<li ng-if="indexCtrl.listCtrl.list.length == 0 || loadingRecords" class="sc-accordion-head sc-bg-gray-lighter sc-p-lg">
					<div class="sc-text-gray align-center">
						<div ng-if="loadingRecords">
							<i class="sc-icon sc-icon-carregando-1 sc-icon-spin"></i>
							<span>Carregando</span>
						</div>
						<div ng-if="indexCtrl.listCtrl.list.length == 0">
							<i class="sc-icon sc-icon-exclamacao-2"></i>
							<span>Nenhuma passagem de serviço encontrada!</span>
						</div>
					</div>
				</li>
				<li ng-repeat="passagem in indexCtrl.listCtrl.list track by $index" class="sc-accordion-head" ng-class="{'sc-acc-blue': passagem.acc.opened || passagem.edit.opened }" ng-init="indexCtrl.itemCtrl.init(passagem)">
					<div class="flex-row flex-column sc-accordion-head sc-text-gray" ng-click="indexCtrl.itemCtrl.accToggle(passagem)" ng-class="{'sc-opac-80': passagem.excluindo && passagem.acc.opened , 'sc-opac-20': passagem.excluindo && passagem.edit.opened}">
						<div class="fcol-xs-3em align-center fcol-order-0" sc-stop-click>
							<input type="checkbox" class="sc-checkbox sc-checkbox-blue">
						</div>
						<div class="fcol-xs-7em hidden-xs align-center sc-p-sm">
							<span class="sc-border-radius sc-bg-{{passagem.status.color}} sc-text-white sc-p-v-xs sc-p-h-lg sc-text-sm">{{passagem.status.label}}</span>
						</div>
						<div class="fcol-xs-auto fcol-order-1 sc-p-sm">
							<i class="sc-icon sc-icon-seta-8-baixo sc-text-red hidden-xs sc-p-r-md" ng-class="{'sc-text-white': passagem.edit.opened || passagem.acc.opened }"></i>
							{{passagem.pessoa_saiu.nome}}
						</div>
						<div class="fcol-xs-auto fcol-order-2 sc-p-sm">
							<i class="sc-icon sc-icon-seta-8-cima sc-text-green hidden-xs sc-p-r-md" ng-class="{'sc-text-white': passagem.edit.opened || passagem.acc.opened }"></i>
							{{passagem.pessoa_entrou.nome}}
						</div>
						<div class="fcol-xs-7em fcol-order-3 sc-p-sm" ng-class="{'sc-text-white': passagem.edit.opened || passagem.acc.opened }">{{passagem.data_criacao | date: "dd/MM/yyyy"}}</div>
						<div class="fcol-xs-7em fcol-order-4 visible-xs sc-p-sm"></div>
						<div class="fcol-xs-3em align-center sc-p-sm fcol-order-5" sc-stop-click>
							<div class="sc-dropdown">
								<i class="sc-icon sc-icon-reticiencias-v sc-badge-hover-gray" ng-class="{'sc-text-white sc-badge-hover-white': passagem.edit.opened || passagem.acc.opened }" ng-click="passagem.menu.toggle()"></i>
								<ul class="sc-dropdown-menu pull-right" ng-if="passagem.menu.opened">
									<li ng-if="passagem.status.label == 'Pendente'" ng-click="indexCtrl.itemCtrl.passarServico(passagem)">
										<span><i class="sc-icon sc-icon-seta-6-direita-esquerda"></i> Passar Serviço</span>
									</li>
									<li ng-click="indexCtrl.itemCtrl.edit(passagem)">
										<span><i class="sc-icon sc-icon-lapis"></i>Editar</span>
									</li>
									<li ng-click="indexCtrl.itemCtrl.duplicar(passagem)">
										<span><i class="sc-icon sc-icon"></i>Duplicar</span>
									</li>
									<li ng-click="indexCtrl.itemCtrl.disable(passagem)">
										<span ng-if="passagem.status.label != 'Desativada'"><i class="sc-icon sc-icon-banir"></i>Desativar</span>
										<span ng-if="passagem.status.label == 'Desativada'"><i class="sc-icon sc-icon-seta-9-esquerda"></i>Reativar</span>
									</li>
									<li ng-click="indexCtrl.itemCtrl.rmv(passagem)">
										<span><i class="sc-icon sc-icon-lixeira-1"></i>Excluir</span>
									</li>
									<li ng-click="indexCtrl.itemCtrl.open_log(passagem)">
										<span><i class="sc-icon sc-icon-historico"></i>Histórico</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div ng-if="passagem.acc.opened && !passagem.edit.opened" class="sc-accordion-body">
						<div ng-include="indexCtrl.templates.passagem_servicos.show"></div>
					</div>
					<div ng-if="passagem.edit.opened && !passagem.acc.opened" class="sc-accordion-body">
						<div ng-include="indexCtrl.templates.passagem_servicos.form"></div>
					</div>
					<div ng-if="passagem.log.active">
						<div ng-include="indexCtrl.templates.passagem_servicos.log_passagem"></div>
					</div>
					<div ng-if="passagem.passar_servico_modal.active">
						<div ng-include="indexCtrl.templates.passagem_servicos.passar_servico_modal"></div>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<div ng-if="indexCtrl.logCtrl.modal.active" ng-include="indexCtrl.templates.passagem_servicos.log_passagens"></div>
	<div ng-if="indexCtrl.modalPerfilCtrl.modal.active" ng-include="indexCtrl.templates.passagem_servicos.perfil_modal"></div>
</div>