<div sc-modal="passagem.passar_servico_modal" ng-init="indexCtrl.passarServicoModal.init(passagem)">
	<div class="sc-modal-header">
		<i class="sc-icon sc-icon-fechar-1 sc-badge-hover-red sc-modal-close" ng-click="passagem.passar_servico_modal.close()"></i>
		Passar Serviço
	</div>

	<div class="sc-modal-body">
		<div class="flex-row">
			<div class="col-xs-5 sc-m-b-md">
				<div class="sc-label">Quem entra:</div>
				<select class="sc-input-default sc-input-block" ng-options="pessoa as pessoa.nome disable when indexCtrl.passarServicoModal.params.pessoa_saiu.id == pessoa.id for pessoa in indexCtrl.porteirosCtrl.list track by pessoa.id" ng-model="indexCtrl.passarServicoModal.params.pessoa_entrou">
					<option value="Selecione quem entra">Selecione quem entra</option>
				</select>
			</div>
			<div class="col-xs-4 sc-m-b-md">
				<div class="sc-label">Senha:</div>
				<input class="sc-input-default" type="password"/>
			</div>
			<div class="clear sc-p-o"></div>
			<div class="col-xs-5 sc-m-b-md">
				<div class="sc-label">Quem sai:</div>
				<select class="sc-input-default sc-input-block" ng-options="pessoa as pessoa.nome disable when indexCtrl.passarServicoModal.params.pessoa_entrou.id == pessoa.id for pessoa in indexCtrl.porteirosCtrl.list track by pessoa.id" ng-model="indexCtrl.passarServicoModal.params.pessoa_saiu">
					<option value="Selecione quem sai">Selecione quem sai</option>
				</select>
			</div>
			<div class="col-xs-4 sc-m-b-md">
				<div class="sc-label">Senha:</div>
				<input class="sc-input-default" type="password"/>
			</div>
		</div>
		<div class="clear"></div>
		<hr class="sc-hr-gray-light"/>
		<div class="flex-row sc-p-t-md">
			<div class="sc-text-gray">
				Eu, <span class="sc-label">{{indexCtrl.passarServicoModal.params.pessoa_saiu.nome}}</span>, passo o posto de serviço para o(a) <span class="sc-label">{{indexCtrl.passarServicoModal.params.pessoa_entrou.nome}}</span>, de acordo com as informações abaixo:
			</div>
			<table ng-repeat="objeto in indexCtrl.passarServicoModal.params.objetos track by $index" class="sc-table sc-fieldset fcol-xs-100">
				<thead>
					<tr>
						<th>
							<div class="sc-text-blue sc-text-bold">{{objeto.categoria.nome}}</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="sc-text-bold sc-text-gray">Item</td>
						<td class="sc-text-bold sc-text-gray align-right">Qtd</td>
					</tr>
					<tr ng-repeat="item in objeto.itens track by $index">
						<td class="sc-text-black">{{item.item_name}}</td>
						<td class="sc-text-black align-right">{{item.item_qtd}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="flex-row sc-m-t-xl">
			<div class="sc-label fcol-xs-100">Observações:</div>
			<textarea class="sc-input-default" type="text" rows="5" cols="80" ng-model="indexCtrl.passarServicoModal.params.observacoes"></textarea>
		</div>
	</div>

	<div class="sc-modal-footer">
		<div class="align-rigth">
			<button class="sc-btn sc-btn-gray" ng-click="passagem.passar_servico_modal.close()">Cancelar</button>
			<button class="sc-btn sc-btn-blue" ng-click="indexCtrl.passarServicoModal.passarServico(passagem)">
				<span ng-if="!indexCtrl.microUpdateCtrl.loading">Passar Serviço</span>
				<span ng-if="indexCtrl.microUpdateCtrl.loading"><i class="sc-icon sc-icon-carregando-1 sc-icon-spin"></i>Salvando</span>
			</button>
		</div>
	</div>
</div>
