<div class="sc-m-h-md sc-p-t-sm">
	<div class="sc-fieldset flex-row sc-p-h-xs">
		<div class="fcol-xs-100 sc-p-b-o">
			<div class="sc-text-gray sc-p-b-sm">Quem entra: <span class="sc-text-blue">{{passagem.pessoa_entrou.nome}}</span></div>
			<div class="sc-text-gray sc-p-b-sm">Quem sai: <span class="sc-text-blue">{{passagem.pessoa_saiu.nome}}</span></div>
			<div class="sc-text-gray sc-p-b-sm">Data de cadastro: <span class="sc-text-blue">{{passagem.data_criacao | date: "dd/MM/yyyy"}}, às {{passagem.data_criacao | date: "mediumTime" }}</span></div>
			<div class="col-xs-12 sc-p-o sc-text-gray" ng-if="passagem.notificacoes > 0">
				<i class="sc-icon-carta-1"></i>
				<span>Notificações</span>
			</div>
			<div class="sc-text-gray col-xs-12 sc-p-o" ng-if="passagem.notificacoes > 0">
				<div class="sc-fieldset">
					<ul>
						<li ng-repeat="notificacao in passagem.notificacoes" class="sc-text-{{notificacao.color}}">
							Notificação {{notificacao.key}} para Fulano de Tal - fulano@fulano.com.br, em {{notificacao.data | date: "dd/MM/yyyy" }} às {{notificacao.data | date: "mediumTime "}}.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="sc-fieldset flex-row">
		<div class="sc-text-gray-dark">
			Eu, <span class="sc-label">{{passagem.pessoa_saiu.nome}}</span>, passo o posto de serviço para o(a) <span class="sc-label">{{passagem.pessoa_entrou.nome}}</span>, de acordo com as informações abaixo:
		</div>
		<table ng-repeat="objeto in passagem.objetos track by $index" class="sc-table sc-fieldset">
			<thead>
				<tr>
					<th>
						<div class="sc-text-blue sc-text-bold">{{objeto.categoria.label}}</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="sc-text-bold sc-text-gray">Item</td>
					<td class="sc-text-bold sc-text-gray align-right">Qtd</td>
				</tr>
				<tr ng-repeat="item in objeto.itens track by $index">
					<td class="sc-text-black">{{item.nome}}</td>
					<td class="sc-text-black align-right">{{item.qtd}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="sc-fieldset flex-row">
		<div class="sc-label col-xs-12 sc-p-b-xs">Observações</div>
		<div class="sc-text-black col-xs-12 sc-p-t-xs">{{passagem.observacoes}}</div>
	</div>
</div>